{% extends 'base.html.twig' %}

{% block title %}
    Espace abonné - {{ parent() }}
{% endblock title %}

{% block body  %}
    
    {% block header %}
        {{ parent() }}
    {% endblock header %}
    
    <div id="suscriber_page">
        <h1 id="suscriber_title_h1">Bienvenu "{{ app.user.username | title }}"</h1>
        <div class="suscriber">
            <h2 id="form_suscriber_title">Modifier votre profil</h2>
            
                {{ form_start(form_suscriber) }}
                    {% set userLastname = app.user.name %}
                    {{ form_row(form_suscriber.name, {'attr': {'placeholder': userLastname }}) }}
                    {% set username = app.user.username|capitalize %}
                    {{ form_row(form_suscriber.username, {'attr': {'placeholder': username }}) }}
                    {% set mail = app.user.mail %}
                    {{ form_row(form_suscriber.mail, {'attr': {'placeholder': mail }}) }}
                    {% set location = app.user.locations|capitalize %}
                    {{ form_row(form_suscriber.locations, {'attr': {'placeholder': location }}) }}
                    {{ form_row(form_suscriber.password.first) }}
                    {{ form_row(form_suscriber.password.second) }}
                
             
                <input type="submit" value="Enregistrez vos modifications">
                {{ form_end(form_suscriber) }}
            
        </div>
        {# Message de confirmation de modification du profil #}
        <div class="container" id="app_flashes_admin">
            <div class="row justify-content-center">
                {% for message in app.flashes('notice') %}
                <div class="flash-notice">
                    <h1>{{ message }}</h1>
                    <div class="row justify-content-center">
                        <a href="{{ path('home') }}" title="Connexion" id="return_home">Retour à l'accueil</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}
