{% extends 'base.html.twig' %}

{% block title %}
    Espace abonné - {{ parent() }}
{% endblock title %}

{% block body  %}
    
    {% block header %}
        {{ parent() }}
    {% endblock header %}
    
    <div id="suscriber_page">
        <h1 id="suscriber_title_h1">Bienvenu {{ app.user.username | title }}</h1>
        <div class="suscriber">
            <h2 id="form_suscriber_title">Modifier votre profil</h2>
            <form action="{{ path('suscriber') }}" method="POST">
                <div>
                    {% set userLastname = app.user.name|capitalize %}
                    <input type="text" name="name" required>
                    <label for="name">{{userLastname}}</label>
                </div>
                <div>
                    {% set username = app.user.username|capitalize %}
                    <input type="text" name="username" required>
                    <label for="username">{{username}}</label>
                </div>
                <div>
                    {% set mail = app.user.mail %}
                    <input type="email" name="email" required>
                    <label for="email">{{mail}}</label>
                </div>
                <div>
                    {% set location = app.user.locations %}
                    <input type="text" name="locations" required>
                    <label for="locations">{{location}}</label>
                </div>
                <div>
                    <input type="password" name="password" required>
                    <label for="password">Votre Nouveau Mot De Passe</label>
                </div>
                <div>
                    <input type="password" name="confirm_password" required>
                    <label for="confirm_password">Confirnez Votre Mot De Passe</label>
                </div>
                <input type="submit" value="Enregistrez vos modifications">
            </form>
        </div>
    </div>

{% endblock %}
